<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<th:block th:include="js_css::copy" />
  	
  	<link rel="stylesheet" th:href="@{/kindeditor/themes/default/default.css}" />
	<link rel="stylesheet" th:href="@{/kindeditor/plugins/code/prettify.css}" />
	<script charset="utf-8" th:src="@{/kindeditor/kindeditor-all-min.js}"></script>
	<script charset="utf-8" th:src="@{/kindeditor/lang/zh-CN.js}"></script>
	<script charset="utf-8" th:src="@{/kindeditor/plugins/code/prettify.js}"></script>
	
    <script type="text/javascript">
    	var editor=null;
	    KindEditor.ready(function(K) {
			 editor = K.create('textarea[name="details"]', {
				uploadJson : basePath+'fileUpload/newsImgFile',
				//fileManagerJson : '../jsp/file_manager_json.jsp',
				allowFileManager : false
			});
		});
    
        $(function ()
        {
            $("#form1").ligerForm({
                validate: true
            });	
            $("#status").ligerComboBox();//下拉框
            $("#pubTime").ligerDateEditor({ showTime: true,width:200});
            
            uploadFile();
        });
        
      //校验通过
     function valid()
     {
         var form = liger.get("form1");
         return form.valid();
     }
     
     function submitForm()
     {
    	 if(valid()){
    		 var data = {};
             $("input,select,textarea").each(function ()
             {
                 var name = $(this).attr("name");
                 if (name && name.indexOf('ligerui') == -1)
                 {
                    data[name] = this.value;
                 }
             });
             data["id"]="";
             data["details"]=editor.html();
             
             $.post(basePath+"news/addNews?serviceType=[[${param.serviceType}]]&t="+new Date(),data,function(data) {
            	 addOrUpdateRetInfoParent(data);
	    	});
    	 }
     }

     function uploadFile(){
    	  $("#file").on("change", function(e){
              var form = new FormData()
              var file = e.target.files[0];
              if(file.length<=0){
            	  return ;
              }
              form.append("imgFile", file);
              $.ajax({
                  url:basePath + "fileUpload/newsImgFile",
                  type: "Post",
                  dataType: "json",
                  processData: false,//用于对data参数进行序列化处理 这里必须false
                  contentType: false, //必须
                  data:form,
                  success:function (res) {
                	 if(res.error==0){//成功
                		 $("#showImgUrl").attr("src",res.url);//显示图片
                		 $("#imgUrl").val(res.dbPath);
                	 }else{
                		 $.ligerDialog.hide();
                		$.ligerDialog.error(res.message);
                	 }
                  },
                  error:function (error) {
                	  alert("上传图片异常"+error);
                  }
              })
          })
     }
 
    </script>
    <style type="text/css">
            body{padding-left:10px;font-size:13px;}
            h1{font-size:20px;font-family:Verdana;}
            h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
            .description{padding-bottom:30px;font-family:Verdana;}
            .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
			td {padding: 5px;}
    </style>

</head>
<body style="padding:0px">
    <form id="form1" >
    	<table >
            <tr>
                <td><label for="phone">标题：</label></td>
                <td><input id="title"  name="title" type="text" class="ui-textbox"  validate="{required:true}"  /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>新闻简介：</td>
                <td colspan="3" width="500"><textarea id="newDesc" rows="3" cols="120" name="newDesc"></textarea> </td>
                <!-- <td></td>
                <td></td> -->
            </tr>
            <tr>
                <td> <label for="leaveTime">关键字：</label></td>
                <td><input id="keyword"  name="keyword" type="text" class="ui-textbox" /></td>
                <td></td>
                <td>
                </td>
            </tr>
            <tr>
                <td>关键词描述：</td>
                <td colspan="3" width="500"><textarea id="description" rows="3" cols="120" name="description"></textarea> </td>
                <!-- <td></td>
                <td></td> -->
            </tr>
            <tr th:if="${serviceType==20}">
                <td> <label for="leaveTime">来源：</label></td>
                <td><input id="resource"  name="resource" type="text" class="ui-textbox"  /></td>
                <td>来源URL</td>
                <td><input id="resourceUrl"  name="resourceUrl" type="text" class="ui-textbox"  />
                </td>
            </tr>
             <tr >
                <td> 新闻图片：</td>
                <td><input id="file" name="file" type="file"/></td>
                <td colspan="2">
                	<img src="" alt="" id="showImgUrl" width="100" height="100"/>
                	<input type="hidden" name="imgUrl" id="imgUrl"/>
                </td>
            </tr>
            <tr>
                <td> <label >状态：</label></td>
                <td> 
                <select id="status" name="status">
                	<option  value="0" >草稿</option>
                	<option  value="1" >上架</option>
                	<option  value="2" >下架</option>
                </select> 
                </td>
                <td>发布时间：</td>
                <td><input id="pubTime" name="pubTime" type="text"/></td>
            </tr>
            <tr>
                <td colspan="4">新闻内容：</td>
            </tr>
            <tr>
                <td colspan="4">
                	<textarea rows="" cols="" name="details" id="details"  style="width:950px;height:300px;visibility:hidden;"></textarea>
                </td>
            </tr>
           
            <tr>
            	<td colspan="2"></td>
                <td colspan="2">
                    <input value=" 提交  " type="button" onclick="submitForm()" />
                </td>
            </tr>
        </table>
    </form>

</body>
</html>
