<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >更新账号</title>     
    <f th:include="js_css::copy"></f>

    <!-- <th:block th:text="${msg}" /> 直接出 -->
    
    <script type="text/javascript">
            
            //修改数据
            var isUpdate = false
            //是修改还是新建
            var account
            var v

            function submitForm(){
                    var form = liger.get("account");
                    let data =form.getData()
                    console.log(data)
                    console.log(valid())
                    //console.log(v.valid())
                   if(!valid()){
                      // $.ligerDialog.error("账号验证错误，请检查输入的信息是否正确！");
                       return
                       
                   }
                    var path = "account/add"

                    path = "account/update"
                     data.id = account.id;
                     
                        // MD5 密码
                        if(data.pwd && data.pwd.length > 0){
                            data.pwd = MD5(data.pwd)
                        }                     

                    
                    
                    
                    $.post(basePath + path, data, function (data) {

                        addOrUpdateRetInfoParent(data);
                    });                    
                                       
                }
            $(function () {
                //$.metadata.setType("attr", "validate");

                var form = $("#account").ligerForm({
                    validate: {
                        focusCleanup: true
                    }
                });	

                $("#status").ligerComboBox();//下拉框
                console.log(parent.V)
                isUpdate = true
                parent.V.updated = false
                account = parent.V.data
                account.pwd = "";
                form.setData(account)
                console.log(form.getData());
 
            });
            //校验通过
            function valid() {
                var form = liger.get("account");
                return form.valid();
            }
 
    </script>

<style type="text/css">
    body{padding-left:10px;font-size:13px;}
    h1{font-size:20px;font-family:Verdana;}
    h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
    .description{padding-bottom:30px;font-family:Verdana;}
    .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
    td {padding: 5px;}
</style>
</head>
<body style="padding:0px">


    <form id="account" >
    	<table >
            <tr>
                <td><label for="phone">用户名：</label></td>
                <td><input id="name"  name="userName" type="text" class="ui-textbox"  validate="{required:true}"  /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>新密码：</td>
                    <td colspan="3" width="500">
                            <input id="pwd"  name="pwd" type="password" class="ui-textbox"  />
                    </td>
                    <!-- <td></td>
                    <td></td> -->
                </tr>
                <tr>
                    <td>确认密码：</td>
                        <td colspan="3" width="500">
                                <input id="comfirm"  name="pwdComfirm" type="password" class="ui-textbox"  validate="{equalTo: '#pwd'}"/>
                        </td>
                        <!-- <td></td>
                        <td></td> -->
                </tr>           
            <tr>
                <td> <label for="leaveTime">姓名：</label></td>
                <td><input id="name"  name="realName" type="text" class="ui-textbox" validate="{required:true, minlength:1}" /></td>
                <td></td>
                <td>
                </td>
            </tr>

            <tr>
                <td> <label >状态：</label></td>
                <td> 
                <select id="status" name="status">
                	<option  value="0" >禁用</option>
                	<option  value="1" >正常</option>
                	
                </select> 
                </td>

            </tr>
          
            <tr>
            	<td colspan="2"></td>
                <td colspan="2">
                    <input value=" 提交  " type="button" onclick="submitForm()" />
                </td>
            </tr>
        </table>
    </form>

           
</body>
</html>

