<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >更新账号</title>     
    <f th:include="js_css::copy"></f>

    <!-- <th:block th:text="${msg}" /> 直接出 -->
    
    <script type="text/javascript">
            
            //修改数据
            var isUpdate = false
            //是修改还是新建
            var account
            var v
            var form 
            var selectedRow
            //地址文本
            var T

            function submitForm(){
                    if(!form){
                        $.ligerDialog.error("请输入表单数据！");
                        return
                    }        
                    //var form = liger.get("org");
                    let data =form.getData()
                    //console.log(data);
                   if(!form.valid()){
                      $.ligerDialog.error("账号验证错误，请检查输入的信息是否正确！");
                      return 
                                            
                   }
                   if(!isUpdate && !selectedRow){
                       $.ligerDialog.error("请选择地址！")
                       return 
                   }

                    var path = "org/add"

                   
                    if(isUpdate){
                        data = $.extend(data, {orgId: account.orgId});
                        if(selectedRow){
                            data.address = selectedRow.id ;
                        }else {
                            data.address = account.address
                        }
                         path = "org/update";
                    }else{
                         data = $.extend(data, {code: selectedRow.zip, address: selectedRow.id});
                    }
                    //坐标数据   验证坐标
                    if(data.geo && data.geo.length > 0){
                        var point = data.geo.indexOf(",");
                        if(point< 0 || point != data.geo.lastIndexOf(",")){
                            form.showFieldError("geo","坐标格式应为 23.234 ， 234.5234");
                            return 
                        }
                        var geo = data.geo.split(",")
                        data = $.extend(data, {geoX: geo[0], geoY: geo[1]})
                    }else {
                        $.ligerDialog.error("请选择地理坐标！")                    
                    }
                                                
                    $.post(basePath + path, data, function (data) {

                        addOrUpdateRetInfoParent(data);
                    });                    
                                       
                }
            $(function () {
                //$.metadata.setType("attr", "validate");

                 form = $("#org").ligerForm({
                    validate: {
                        focusCleanup: true
                    }
                });	

                $("#status").ligerComboBox();//下拉框
                var dataGridColumns = [
                    {display: 'ID', name: 'id', minWidth:60, width: 60 },
                    {display: '省份', name: 'province',minWidth: 120, width: 100 },
                    { display: '城市', name: 'city' ,minWidth: 120, width: 100},
                    { display: '县/区', name: 'county',minWidth: 120, width: 100},
                ];
                
                
                var cityOpts = {  valueField: 'id',    selectBoxWidth: 500,selectBoxHeight: 200,  isMultiSelect: false,

                onChangeValue:function(v){
            
                    if(selectedRow){
                  
                    var b = liger.get("addressGrid");
                    var cityText = selectedRow.province + "  " + selectedRow.city + "  ";
                    //console.log(selectedRow)
                    if(selectedRow.county){
                        cityText = cityText + selectedRow.county
                    }
                    b.setText(cityText);
                   // b.setValue(selectedRow.id);                        
                    }
                    
                },

                grid: {
                    columns: dataGridColumns,
                    url: basePath+"zone/data",
                    pageSize: 10,
                    onSelectRow:function(d){
                        selectedRow = d
                    },
                    allowAdjustColWidth :true,

                }
            } ;
               
                //如为更新数据 
                var selectedCity 
                if(parent.V.updated){
                    isUpdate = true
                    parent.V.updated = false
                    account = parent.V.data
                    //b = liger.get("addressGrid");
                    //b.setText(account.province + "  " + account.city+ "  " + account.county)
                    //生成坐标数据
                    var geo = renderGeo(account);
                    account = $.extend(account, {geo: geo});
                    form.setData(account)
                    T = account.province + "  " + account.city + "  "
                    if(account.county){
                    T += account.county

                     cityOpts = $.extend(cityOpts, {initValue:account.address})
                } 
                    //console.log(form.getData());                    
                }

                //@begin 更新，设置地址
                //console.log(cityOpts)
                $("#addressGrid").ligerComboBox(cityOpts)
               
                if(isUpdate){                    
                    var b = liger.get("addressGrid")
                     b.setValue(account.address)
                    b.setText(T)
                }                
                //@end
 
            });
            
            //选择坐标
            function selectGeo(){
            	var street=$("#street").val();
            	if(street==null||street.length<=0){
            		$.ligerDialog.error("请输入机构地址！");
            		return ;
            	}
            	window.open(basePath+"gaodemap?address="+street);   
            	/* parent.$.ligerDialog.open({
            		width: 1000,
            		height:800,
            		title: "获取坐标",
            		url: basePath+"gaodemap",
            		showMax: true,
            		showToggle: true,
            		showMin: true,
            		isResize: true
            	}); */
            }
    </script>


</head>
<body style="padding:0px">


    <form id="org" >
    	<table style="margin: 20px auto;" >
            <tr>
                <td><label for="orgName">机构名称：</label></td>
                <td><input id="name"  name="orgName" type="text" class="ui-textbox"  validate="{required:true}"  /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>机构联系人：</td>
                    <td colspan="3" width="500">
                            <input id="agent"  name="agent" type="text" class="ui-textbox"  validate="{required:true, minlength:1}" />
                    </td>

                </tr>
                <tr>
                    <td>机构联系电话：</td>
                        <td colspan="3" width="500">
                                <input id="phone"  name="phone" type="text" class="ui-textbox"   validate="{required:true, minlength:1}"/>
                        </td>

                </tr>
                <tr>
                    <td>城市：</td>
                        <td colspan="3" width="500">
                            <input type="text" id="addressGrid" name="address" data-width="176" data-comboboxid="addressGrid"   validate="{required:true}" ligerui="width:500px">
                        </td>

                </tr>    
                <tr>
                    <td>机构详细地址：</td>
                        <td colspan="2">
                            <input type="text" id="street" name="street" data-width="176" class="ui-textbox"   validate="{required:true}">
                        </td>
						<td></td>
                </tr>
                <tr>
                    <td>机构地址坐标：</td>
                        <td colspan="2">
                            <input type="text" id="geo" name="geo" class="ui-textbox"   validate="{required:true}">
                        </td>
						<td><label ><a href="javascript:selectGeo()">选择坐标</a> (选择后复制到此输入框)</label></td>
                </tr>                                                          


            <tr>
                <td> <label >状态：</label></td>
                <td> 
                <select id="status" name="status">
                	<option  value="1" >正常</option>
                	<option  value="0" >禁用</option>
                </select> 
                </td>

            </tr>
          
            <tr>
            	
                <td colspan="2">
                    <input class="submitBtn"  style="margin-left: 100px" value=" 提交  " type="button" onclick="submitForm()" />
                </td>
            </tr>
        </table>
    </form>

           
</body>
</html>

