<f th:fragment="copy"> 
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
   
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-mousewheel.js}"></script>
    <script type="text/javascript">
    	 	var basePath ="[[@{/}]]";
            var baseImage ="[[@{/m/}]]";
    </script> 

    <style type="text/css">
        body{font-size:13px;margin: 0 auto}
        h1{font-size:20px;font-family:Verdana;}
        h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
        .description{padding-bottom:30px;font-family:Verdana;}
        .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
        td {padding: 5px;}
        .uploadBtn {
            padding: 10px 20px;
            border-radius: 10px;
            border: 2px solid aliceblue;
        }
        .fileInput{
                        position: absolute;
            left: 0px;
            top: 0px ;
            opacity: 0;
            padding: 10px 20px;
            max-width: 50px;
            }
        .mtop{
            margin-top: 30px 
        }
        .center_btn {
            text-align: center ;
        }

        .inline_block {
            display: inline-block
        }
        .preview_img {
            
            width: 40px;
            height: 40px;
            margin: auto
        }
        .image_wrapper {
            text-align: center;
            margin-right: 40px;
        }
        .delBtn {
            
        }
        .delBtn:hover {
            display: inline-block
        }
        .error{
        color: #CC0000;
        border-bottom: 1px solid #CC0000
        }
        .valid{
            border-bottom: 1px solid green
        }
        .submitBtn {
            margin-top: 20px;
            padding: 5px 20px;
        }
        a {
            text-decoration: none !important;
        }
    </style>

</f>
<f th:fragment="test_css">
    <style type="text/css">

.w100{
                width: 100% ;
            }
           .about_second_title, .second_title {
                font-size: 20px;
                opacity: 0.5;
            }
            .about_main_title {
                font-size: 26px;
                margin-bottom: 0px;
            }
            .mt30 {
                margin-top: 30px ;
            }
            .mt40{
                margin-top: 40px ;
            }
            .mt20 {
                margin-top: 20px;
            }
            .mt10 {
                margin-top: 10px ;
            }
            .mb30 {
                margin-bottom: 30px ;
            }
            #page_footer{
                background-color: #00a0ff;
                position: relative;
                padding: 40px 20px;
                bottom: 0px;
                right: 0px;
                left: 0px;
            }
            .form_input {
                border: 1px solid #80808080;
                padding: 10px;
                margin-bottom: 30px ;
            }
            .input_len {
                width: 320px ;
            }
            .form_input input, .form_input textarea {
                border: none;

            }
            .icon {
                padding: 0px 5px;
            }
            .summit_btn {
                display: inline-block;
                width: 100%;
                padding: 10px 0px;
                border-radius: 20px;
                border: 1px;
                background-color: #00a0ff;
                color: #f9f8f6;
                font-size: 18px;
            }
            .icon_line {
                display: flex ;
                justify-items: center
            }
            .mr30{
                margin-right: 30px ;
            }
            .mr20{
                margin-right: 20px ;
            }
            .fs20 {
                font-size: 20px ;
            }
            .p_no_mb{
                margin-bottom: 0px ;
            }
            .location {
                position: absolute;
                right: 10%;
                top: 10%;
                color: white ;
                
                font-size: 18px ;                
            }
            #backgroud{

                width: 100%;
                height: 100%;
                position: absolute;
                background-image: url("/m/pic_test/04wxcs_bg_05.jpg");

                background-position: right;
                background-clip: border-box;
                background-origin: border-box;
                padding: 100px;
                background-size: cover;
                bottom: 0px;
            }
            #content{
                
                padding-top: 5%;
                margin:auto ;
            }
            .fs40 {
                font-size: 40px 
            }
            .fs20 {
                font-size: 20px 
            }
            .fs25 {
                font-size: 25px 
            }
            .lable{
                font-size: 22px;
                margin-bottom: 30px;
            }
            #detail{
                width: 30% ;
            }
            .process img {
                margin-top: 10px ;
            }
            .upfile {
                display: inline-block;
               
                padding: 0px 10px;
               
                border: 1px;
                background-color:#38e4ea;
                color: #f9f8f6;
                font-size: 18px;
            }

            .special_btn{

            width: auto;
            padding: 8px 40px;
            }
            .form_input{
                margin-bottom: 0px ; flex-grow: 1 ;background-color: #f9f8f6;               
            }
            .actions{
                margin-right: 10%; justify-content: space-between;
            }


    </style>    
</f>
<f th:fragment="home_css"> 

    <style type="text/css">
    /* 输入框 */
        .white {
            color: white ;
        }
        .input_len {
            width: 320px ;
        }
        .form_input {
                border: 1px solid #80808080;
                padding: 10px;
                margin-bottom: 30px ;
            }        
        .form_input input, .form_input textarea {
            border: none;

        }

    /* 能用 */
    .relative {
        position: relative;
    }
        .justify {
              display: inline-block;
              vertical-align: top;
              width:100%;
              text-align: justify;
          }
          .justify::after{
              content:"";
              display: inline-block;
              width:100%;
              overflow:hidden;
              height:0;
          }
    /* 导航与页脚 主页用 */      
      #page_footer {
          background-color: #00a0ff;
          position: absolute;
          padding: 40px 20px;
          bottom: 0px;
          right: 0px;
          left: 0px;                      
      }
      #test_tip {
          margin: 20px auto ;
      }
      .over-hide {
          overflow: hidden;
      }
      #top_nav {
          
          justify-content: center
      }
      .nav_top_icon{
          margin-left: 15px;
      }
      #top_nav .nav-item{
          font-size: 18px ;
          margin: 0px 0.7%;
          border-bottom: 2px solid white;
      }
      #top_nav .nav-item.active{
          border-bottom: 2px solid rgb(49, 137, 220) ;
      }
      #left-menu{

          width:60px;
          height: 60px;
          border-radius: 50%;
          
          color: white;
          position: fixed;
          right: -30px;
          bottom: 50%;
          z-index: 100;
          display: none;
      }
      #left-menu-list {

          color: white ;
          color: rgb(49, 137, 220);
          position: fixed;
          max-width: 200px ;
          bottom: 40% ;
          right: 0px;
        
          z-index: 100;
          
      } 
      .common_list {
          background-color: #50c8ff;
          list-style: none;
              list-style-position: outside;
          list-style-position: outside;
          color: white;
          padding: 20px;

      }  
      .common_list .item {
          margin: 10px ;
      } 

      /* 蓝色背景导航 */
      #nav-menu .blue{
                background-color: #00a0ff !important;
            }
        .blue .nav-item {             
            font-size: 18px;
            margin: 0px 0.7%;
            border-bottom: 2px solid #00a0ff;
            }
    .navbar-light .blue .navbar-nav .nav-link {
        color: white
        }
    .blue  .nav-item.active {
        border-bottom: 2px solid white ;
        }


      .common_list .item img {
          padding-right: 20px;
      }    
      .box{
          padding: 5% ;
          margin:auto ;
      }
      .img_box{
         
      }
      #next_icon {
          position: absolute;
          bottom: 0px;
          text-align: center;
          left: 0px;
          right: 0px;
          bottom: 20px;
      }
      #main_logo{
          position: absolute;
          bottom: 50%;
          text-align: right;
          
          right: 10%;
          
      }
      .relative {
          position: relative;
      }

      .common_padding {
          padding: 5%;           
      }
      .menus .item {
          margin-right: 20px;
      }

      .p-hover{
          display: none ;
      } 
      #nav-menu {
          
          opacity: 0.7;
          position: fixed;
          top: 0px;
          left: 0px;
          width: 100%;
          background-color: #f2edef;
          
          z-index: 100;
      }
      .full-view {
          position: absolute;
         
          height: 100%;
          width: 100%;
          left: 0px;
          right: 0px;      
          overflow: hidden;      
      }
      .full-view-normal {          
          position: relative;

                      
      } 

      .page_scroll {
          position: relative ;
          height: 100%;
          width: 100%;
          left: 0px;
          right: 0px;   
          overflow: hidden ;            
      }
      .case {
          width: 80%;
          margin: auto ;
      }
      .case .pic {
          width: 600px ;
          height: 600px;
          margin: auto ;
          overflow: hidden;
          background-repeat:no-repeat;
          background-position:left;
          background-origin:content-box;
      }
      .title, .des {
          width: 600px ;
          padding-top: 20px ;
          margin: auto ;          
      } 
      .title {
          font-size: 26px;
      }
      .fix-img {
          width: 500px ;
          margin: auto;
      }        

      .des {
          font-size: 12px;
          opacity: 0.8;
      }
      #case_left {
          padding: 5%;
          width: 100% ;
          height: 100%;
          flex-wrap: wrap;
            justify-content: center;
          
      }
      #case_left p, #case_left h2, #case_left button {
          margin-bottom: 10px ;
      }
      .flex_row {
          display: flex;

      }
      .flex_row.center {
          justify-content: center ;
      }
      .flex_row .avatar {
          margin-right: 20px ;
          margin-bottom: 20px ;
      }
      .case {
          padding: 20px 0px ;
      }
      #discover_tip p{
          margin-top: 5px ;
          font-size: 24px;
          
      }
      .footer_menu_items {
          text-align: center ;
      }
      .footer_menu_items .item {
          color: white
      }
      .user .name {
          font-size: 24px ;
      }
      .user .wa {
          font-size: 14px ;
          opacity: 0.8;
      }
      .age, .feature {
          font-size: 18px;
          opacity: 0.7;
      }
      .more {
          padding: 5px 20px;
          border-radius: 20px;

          border: 1px solid #d2c7c7;            
      }
      .footer_nav_item_icon {
          padding: 10px;

      }
      .page_footer_info_col {
          max-width:  400px;
          background: url('/m/pic/footer/00yj_line.png') no-repeat 100% ;
      }

      .doctor_images img {
          margin-right: 2%

      }
      .doctor_images {
          display: flex;
          flex-wrap: inherit;
          margin-right: 1%;
      }
      .inherite_w_h {
          width: inherit;
          height: inherit;            
      }
      .lg_text{
          font-size: 24px;
          opacity: 0.6;
      }
      .lg_text_test {
          font-size: 40px;
          opacity: 0.6;
          font-weight: 200;
          color: black;
          margin: 0px;       
      }
      .md_white_text{
          font-size: 20px;
          color: white;
          opacity: 0.9;
      }
      .show_case_item{
          margin-bottom: 40px ;
      }
      .text_20px {
          font-size: 20px;
          
          opacity: 0.7;            
      }
      /* margin padding */
      .pl20{
          padding-right: 20px;
      }
      .pl10{
          padding-left: 10px;
      }
      .pr20{
          padding-right: 20px;
      }
      .mb0{
          margin-bottom: 0px ;
      }

      /* display */
      .inline_block{
          display: inline-block;
      }
      .text_center {
          text-align: center ;
      }
      .so_icons a {
          margin-right: 5%
      }
      .mb20{
          margin-bottom: 20px;
      }
      .flex_v_center {
          display: flex ;
          align-items: center
      }
      .inherite_h{
          height: inherit;
      }

        .summit_btn {
                display: inline-block;
                width: 100%;
                padding: 10px 0px;
                border-radius: 20px;
                border: 1px;
                background-color: #00a0ff;
                color: #f9f8f6;
                font-size: 18px;
            } 
        .nav_location{
            padding-left: 5px ;
            color: #bf7c02; ;
        } 
        .pr10{
            padding-right: 10px;
        } 
        .container_no_padding {
        padding-right: 0px;
        padding-left: 0px;              
        }
        .flex_col_center{
            display: flex;
            justify-items: center;
            justify-content: center;
            flex-direction: column;
        }

    </style>
    <script type="text/javascript" th:inline="javascript">

            function toggleNav(curPage){
                $(".active").toggleClass("active")
                $(curPage).toggleClass("active")
            }
    </script>
</f>
<!--页头-->
<f th:fragment="header">
    <!--背景；默认-->
    <div id="nav-menu" th:if="${nav == null}">
        <div style="position: relative">
            <div >
                    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                        <a class="navbar-brand" href="#">
                            <img src="/m/pic/01sy_nav_logo.png" style="width: 100%;" alt="">
                        </a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    
                        <div id="top_nav" class="collapse navbar-collapse" >
                            <div style="flex-grow: 1; justify-content: center;">
                                <ul class="navbar-nav" style="text-align: center; display: flex; justify-content: center;">
                                    <li class="nav-item">
                                              
                                    </li>                                        
                                    <li class="nav-item active">

                                        <a class="nav-link" href="/m/index">首页 <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item" id="product">
                                        <a class="nav-link" href="#">隐贝产品</a>
                                    </li>
                                    <li class="nav-item" id="case">
                                        <a class="nav-link" href="cases">优秀案例</a>
                                    </li>
                                    <li class="nav-item" id="test">
                                        <a class="nav-link" href="/m/smile" aria-disabled="true">微笑测试</a>
                                    </li>
                                    <li class="nav-item" id="discover">
                                        <a class="nav-link" href="#" aria-disabled="true">发现医生</a>
                                    </li>
                                    <li class="nav-item" id="news">
                                        <a class="nav-link" href="#" aria-disabled="true">最新新闻</a>
                                    </li>
                                    <li class="nav-item" id="about">
                                        <a class="nav-link" href="/m/about" aria-disabled="true">关于我们</a>
                                    </li>
                                                                    
                                </ul>                                    
                            </div>


                            <div class="navbar-text" style="display: flex;justify-content: center;">
                                    <img class="nav-item nav_top_icon" src="/m/pic/01sy_nav_icon_01.png"/>
                                    <img style="margin-left: 10px;" class="nav-item nav_top_icon" src="/m/pic/01sy_nav_icon_02.png"/>
                            </div> 
                        </div>                          
                    
                    </nav>
                    <!--<div class="row">
                      <div class="col-3 col-lg-3" style="background: url('/m/pic/main_icons.png') no-repeat center left"> 
                       
                      </div>
                      <div class="col-7 col-lg-7">
                            <div class="row menus">
                                <div class="col-3 item">
                                    HOME
                                </div>
                                <div class="col-3">
                                    测试
                                </div>                                    
                            </div>
                      </div>
                      <div class="col-2 col-lg-2">
                          <span class="top-btn" style="background: url('/m/pic/main_icons.png') no-repeat center left">BUTTON</span>
                      </div>
                    </div>
                -->
            </div> 
        </div>              
    </div> 
    <!--蓝色背景；设置 nav 变量-->
    <div id="nav-menu" th:if="${nav != null}" class="blue" >
            <div style="position: relative">
                    <div >
                            <nav class="navbar navbar-expand-lg navbar-light  bg-light blue">
                                <a class="navbar-brand" href="#">
                                    <img src="/m/pic/nav_brand_white.png" style="width: 100%;" alt="">
                                </a>
                                
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#top_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            
                                <div id="top_nav " class="blue collapse navbar-collapse" >
                                    <div style="flex-grow: 1; justify-content: center;">
                                        <ul class="navbar-nav blue" style="text-align: center; display: flex; justify-content: center;">
                                            <li class="nav-item">
                                                      
                                            </li>                                        
                                            <li class="nav-item active">
        
                                                <a class="nav-link" href="/m/index">首页 <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class="nav-item" id="product">
                                                <a class="nav-link" href="#">隐贝产品</a>
                                            </li>
                                            <li class="nav-item" id="case">
                                                <a class="nav-link" href="cases">优秀案例</a>
                                            </li>
                                            <li class="nav-item" id="test">
                                                <a class="nav-link" href="/m/smile" aria-disabled="true">微笑测试</a>
                                            </li>
                                            <li class="nav-item" id="discover">
                                                <a class="nav-link" href="#" aria-disabled="true">发现医生</a>
                                            </li>
                                            <li class="nav-item" id="news">
                                                <a class="nav-link" href="#" aria-disabled="true">最新新闻</a>
                                            </li>
                                            <li class="nav-item" id="about">
                                                <a class="nav-link" href="/m/about" aria-disabled="true">关于我们</a>
                                            </li>
                                                                            
                                        </ul>                                    
                                    </div>
        
        
                                    <div class="navbar-text" style="display: flex;justify-content: center;">
                                            <img class="nav-item nav_top_icon" src="/m/pic/nav_search_icon_white.png"/>
                                            <img style="margin-left: 10px;" class="nav-item nav_top_icon" src="/m/pic/nav_love_icon_white.png"/>
                                    </div> 
                                </div>                          
                            
                            </nav>
                            <!--<div class="row">
                              <div class="col-3 col-lg-3" style="background: url('/m/pic/main_icons.png') no-repeat center left"> 
                               
                              </div>
                              <div class="col-7 col-lg-7">
                                    <div class="row menus">
                                        <div class="col-3 item">
                                            HOME
                                        </div>
                                        <div class="col-3">
                                            测试
                                        </div>                                    
                                    </div>
                              </div>
                              <div class="col-2 col-lg-2">
                                  <span class="top-btn" style="background: url('/m/pic/main_icons.png') no-repeat center left">BUTTON</span>
                              </div>
                            </div>
                        -->
                    </div> 
                </div>  
    </div>       
</f>
<f th:fragment="footer"> 
    <div id="page_footer">
        <div class="container-fluid">
            <div class="row justify-content-center" style="align-items: start;">
                <div class="col-4 col-xl-4 col-md-12 col-sm-12 col-xs-12 page_footer_info_col text_center">
                        <div class="inline_block">
                            <div class="flex_row mb20">

                                <div class="">
                                    <img src="/m/pic/bar_code.png"/>
                                </div>
                                <div class="md_white_text" style="margin-left: 20px">
                                    <p>挚友关注我们</p>
                                    <p>随时发现惊喜</p>
                                    <p>专属手机客服</p>
                                </div>
                            </div>
                            <div id="footer_phone " class="">
                                <div class="flex_row">
                                    <div class="pl20">
                                        <img src="/m/pic/footer/00yj_icon_11.png">
                                    </div>
                                    <div class="md_white_text">
                                        <p class="mb0">健康咨询电话</p>
                                        <p class="mb0 phone_number">
                                            230-234-234234
                                        </p>
                                    </div>
                                </div> 
                            </div>                                        
                        </div>                                


                        
            
                </div>
                <div class="col-4  col-xl-4  col-md-12 d-none d-xl-block page_footer_info_col">
                    <div class="flex_row footer_menu_items" style="flex-wrap: wrap">
                        <div class="col item">
                            <img class="footer_nav_item_icon" src="/m/pic/footer/00yj_icon_08.png" />
                            <p>隐贝产品</p>
                        </div>
                        <div class="col item">
                            <img class="footer_nav_item_icon" src="/m/pic/footer/00yj_icon_09.png" />
                            <p>优秀案例</p>
                        </div>
                        <div class="col item">
                            <img class="footer_nav_item_icon" src="/m/pic/footer/00yj_icon_10.png" />
                            <p>微笑测试</p>
                        </div>
                        <div class="col item">
                            <img class="footer_nav_item_icon" src="/m/pic/footer/00yj_icon_07.png" />
                                <p>发现医生</p>
                            </div>
                            <div class="col item">
                                <img class="footer_nav_item_icon" src="/m/pic/footer/00yj_icon_06.png" />
                                <p>最新新闻</p>
                            </div>
                            <div class="col item">
                                <img class="footer_nav_item_icon" src="/m/pic/footer/00yj_icon_05.png" />
                                <p>关于我们</p>
                            </div>                                    
                    </div>
            
                </div>
                <div class="col-4 col-xl-4 col-md-12 col-sm-12 col-xs-12 page_footer_info_col text_center"  style="background: none">
                    <div class="inline_block">
                        <img class="logo item mb20" src="/m/pic/footer/00yj_logo.png"/>
                        <div class="item mb20">
                            <div class="flex_row ">
                                <img class="pl20 " src="/m/pic/footer/00yj_icon_12.png"/>
                                <div >
                                    <p class="md_white_text">
                                        广州市.萝岗.高技术立业
                                    </p>
                                    

                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="flex_row so_icons " style="justify-content: space-between;">
                                <a href="#">
                                    <img src="/m/pic/footer/00yj_icon_01.png" />
                                </a>
                                <a href="#">
                                    <img src="/m/pic/footer/00yj_icon_02.png" />
                                </a>
                                <a href="#">
                                    <img src="/m/pic/footer/00yj_icon_03.png" />
                                </a>
                                <a href="#">
                                    <img src="/m/pic/footer/00yj_icon_04.png" />
                                </a>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>

    </div>

</f>