<f th:fragment="copy"> 
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
   
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-mousewheel.js}"></script>
    <script type="text/javascript">
    	 	var basePath ="[[@{/}]]";
    </script> 

    <style type="text/css">
        body{font-size:13px;margin: 0 auto}
        h1{font-size:20px;font-family:Verdana;}
        h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
        .description{padding-bottom:30px;font-family:Verdana;}
        .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
        td {padding: 5px;}
        .uploadBtn {
            padding: 10px 20px;
            border-radius: 10px;
            border: 2px solid aliceblue;
        }
        .fileInput{
                        position: absolute;
            left: 0px;
            top: 0px ;
            opacity: 0;
            padding: 10px 20px;
            max-width: 50px;
            }
        .mtop{
            margin-top: 30px 
        }
        .center_btn {
            text-align: center ;
        }

        .row {
            display: flex;
            align-items: center;
        }
        .inline_block {
            display: inline-block
        }
        .preview_img {
            
            width: 40px;
            height: 40px;
            margin: auto
        }
        .image_wrapper {
            text-align: center;
            margin-right: 40px;
        }
        .delBtn {
            
        }
        .delBtn:hover {
            display: inline-block
        }
        .error{
        color: #CC0000;
        border-bottom: 1px solid #CC0000
        }
        .valid{
            border-bottom: 1px solid green
        }
        .submitBtn {
            margin-top: 20px;
            padding: 5px 20px;
        }
    </style>

</f>