<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >创建图片</title>     
    <f th:include="js_css::copy"></f>
    <!-- <th:block th:text="${msg}" /> 直接出 -->
    <script th:src="@{/lib/jquery/jquery-1.9.0.min.js}" type="text/javascript"></script>    
    <script th:src="@{/lib/ligerUI/js/ligerui.all.js}" type="text/javascript"></script>  
    <script th:src="@{/lib/jquery.cookie.js}"></script>
    
    <script th:src="@{/lib/json2.js}"></script>
    <script th:src="@{/indexdata.js}" type="text/javascript"></script>
    <script th:inline="javascript" type="text/javascript">
    	 	var basePath =[[@{/}]];
    </script>     
    <script type="text/javascript">


            //Tab数据
            var tid = ''
            //是修改还是新建
            var isUpdate = false

            function valid(){
                var v = $("#form2").validate({
                    //调试状态，不会提交数据的
                    debug: true,
                    errorLabelContainer: "#errorLabelContainer", wrapper: "li",
                    invalidHandler: function (form, validator) {
                    
                        setTimeout(function () {
                            $.ligerDialog.tip({ content: "验证失败"});
                        }, 10);
                    },
                    submitHandler: function () {
                        $("#errorLabelContainer").hide();
                        alert("Submitted!");
                    }
                }); 
                console.log("v :", v)               
            }

            var pageData = {
                url: basePath + 'webpage/data',
                            //下拉框中显示内容 对应 的 id字段
                valueField:'id',
                            //下拉框中显示的内容 对应 的字段
                textField:'name',

                onSelected  :function(newvalue){
                                //选中下拉框事件。。。
                    },               
            }

            $(function () {
                
                //测试
                var test1 = $("#test1").ligerComboBox({
                width : 200,
                data: [
                    { text: '北京', id: 'bj' },
                    { text: '天津', id: 'tj' },
                    { text: '厦门', id: '44' },
                    { text: '广州', id: 'gz' },
                    { text: '深圳', id: 'sz' },
                    { text: '上海', id: 'ss' }
                ], valueFieldID: 'test3',
                autocomplete: true,
                rowClsRender : function(row){
                    if (row.id == "bj")
                    {
                        return "beijing";
                    }
                },
 
                keySupport: true
            }); 
        

               // $("#select2").ligerComboBox();

                console.log(test1)
                //图片表单
                var form = $("#form2").ligerForm({
                    validate: true,
                    inputWidth: 170, labelWidth: 90, space: 40,
                    fields: [
                        { display: "", name: "id", type:"hidden"},
                       
                        { display: "页面", name: "page", newline: false, type: "select", comboboxName: "page", options: pageData,group: "图片基础信息" },

                        { display: "编号", name: "number", newline: false, type: "text", validate: { required: true}},

                        { display: "简介", name: "description", newline: true, type: "textarea", width: 470},
                   
                    ]
                });

                //更新图片数据
                var imageToUpdate = parent. globalActionStatus["imageUpdate"]
                if(imageToUpdate){
                    isUpdate = true 
                   // console.log(document.title)
                    form.setData(imageToUpdate.data)
                }

                //提交
                $("#submit").click(function(e){
                    var path = "image/add"
                    if(isUpdate){
                        path = "image/update"
                    }
                    console.log("form 验证结果： "+ liger.get("form2").valid()) ;
                    valid()
                    return  
                    if(liger.get("form2").valid()){
                        let data =form.getData()
                        $.post(basePath + path, data, function (data) {
                            var code = data.code;
                            var msg = data.msg;
                            if (code == '0000') {
                                $.ligerDialog.success(msg,function(r){
                                //删除tab
                                if(isUpdate){
                                    parent.tab.removeTabItem(parent.page.tid) 
                                }                                
                                });
                            } else if (code == '9999') {
                                $.ligerDialog.error(msg);
                            }
                        });  

                                          
                    }else {
                        $.ligerDialog.error("数据不完善！"); 
                    }
                    
                    
                })

            });
 
    </script>
    <style type="text/css">
            body{font-size:13px;margin: 0 auto}
            h1{font-size:20px;font-family:Verdana;}
            h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
            .description{padding-bottom:30px;font-family:Verdana;}
            .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
			td {padding: 5px;}
            .uploadBtn {
                padding: 10px 20px;
                border-radius: 10px;
                border: 2px solid aliceblue;
            }
            .fileInput{
                            position: absolute;
                left: 0px;
                opacity: 0;
                padding: 10px 20px;
                max-width: 50px;
                }
            .mtop{
                margin-top: 30px 
            }
    </style>

</head>
<body style="padding:0px">
   
    <div >
       <button class="uploadBtn" id ="upLoadImage">上传图片</button> 
       <input class="fileInput" type="file" accept="image/png,image/jpeg,image/gif" name="fileM" id="fileUp">
    </div>
    
    <button class="mtop uploadBtn" id="submit">完成</button>


 <!--
    <input type="hidden" id="test2">
    <div style="display:none;">
    <h3>sucker</h3>
    <select name="select2" id="select2" ligerid="select2">
        <option value="a">Apple</option>
        <option value="b">Babel</option>
    </select>

-->

    <!-- 测试 comboBox-->
    <div class="l-text-wrapper">
            <h4>测试下拉框</h4>
            <div class="l-text l-text-combobox" style="width: 200px;">
                <input type="text" id="test1" data-comboboxid="test1"class="l-text-field" style="width: 180px;" ligeruiid="test1">
                <div class="l-text-l"></div>
                <div class="l-text-r"></div>
                <div class="l-trigger">
                    <div class="l-trigger-icon"></div>
                </div>
                <div class="l-trigger l-trigger-cancel" style="display: none;">
                    <div class="l-trigger-icon"></div>
                </div>
            </div>
            <input type="hidden" name="test3" id="test3" data-ligerid="test1" value="">
        </div>

    
           
</body>
</html>
