<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>管理页面图片</title>
    <f th:include="js_css::copy"></f>

    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/

        var imgStr = [[${images}]];

        /*]]>*/
        //是修改还是新建
        var isUpdate = false

        function valid() {
            var v = $("#form2").validate({
                //调试状态，不会提交数据的
                debug: true,
                errorLabelContainer: "#errorLabelContainer",
                wrapper: "li",
                invalidHandler: function (form, validator) {
                    console.log("验证错误")
                    setTimeout(function () {
                        $.ligerDialog.tip({
                            content: "验证失败"
                        });
                    }, 10);
                },
                submitHandler: function () {
                    $("#errorLabelContainer").hide();
                    alert("Submitted!");
                }
            });
            console.log("v :", v)
        }
        //console.log("json str", imgStr)
        var allImgs = JSON.parse(imgStr)
        if (!allImgs) {
            allImgs = []
        }
        // console.log("原来的图片", allImgs)
        function genEmptyIamge(count) {
            var images = [];
            for (i = 0; i < count; i++) {
                images.push({
                    id: 0,
                    url: '',
                    number: "",
                    oldUrl: '',

                    description: "",
                })
            }
            return images;
        }
        //空的图片图片数据
        var images = allImgs //.length > 0 ? allImgs : genEmptyIamge(3)
        
        var emptyImage = basePath+"empty.jpg";
        $(function () {
            
            // 业务代码
            if(images.length == 0){
                $("#warning").show()
                $("#content").hide()
                return 
            }
            //console.log(parent);
            //读取list传递的page
            var curPage = JSON.parse($.cookie("image_page"))
            // console.log("image_page", curPage)
            //图片表单
            var form = $("#form2").ligerForm({
                validate: true,
                inputWidth: 170,
                labelWidth: 90,
                space: 40,
                fields: [{
                        display: "",
                        name: "id",
                        type: "hidden"
                    },
                    {
                        display: "",
                        name: "url",
                        type: "hidden"
                    },
                    // { display: "页面", name: "page", newline: false, type: "select", comboboxName: "page", options: pageData,group: "图片基础信息" },
                    {
                        display: "页面",
                        name: "page",
                        newline: false,
                        type: "select",
                        initValue: "234242",
                        initText: "Baby",
                        comboboxName: "page",
                        options: {
                            url: basePath + 'webpage/pages',
                            //下拉框中显示内容 对应 的 id字段
                            valueField: 'id',
                            //下拉框中显示的内容 对应 的字段
                            textField: 'title',
                            //只读


                            //readonly: true ,
                            onSelected: function (newvalue) {
                                //选中下拉框事件。。。
                            },
                        }
                    },
                    //{ display: "编号", name: "number", newline: false, type: "text" },

                    //{ display: "简介", name: "description", newline: true, type: "textarea", width: 470 ,validate: { required: true ,minlength:5} },                    

                ]
            });
            form.setData({
                page: curPage.id
            })
            //form.hide();
           // $("#pageName").text(curPage.name);

            // 创建新表单
            function buildForm(index, image) {

                var orgImg = image.url.length > 0 ? image.url : emptyImage;
                var html = '<div id="image_div_' + index + '" class="imageRow row">' +
                    '<form id="image' + index + '" class="liger-form inline_block">  </form>' +

                    '<div class="image_wrapper">' +
                    '<img class="preview_img"  id="org_' + index + '"alt="图片加载失败" src="' + orgImg + '" />' +
                    '<p> 原图</p>' +
                    '</div>' +
                    '<div class="image_wrapper">' +
                    '<img id="img_' + index + '" class="preview_img" alt="图片加载失败" src="' + emptyImage + '" />' +
                    '<p> 新图</p>' +
                    '</div>' +

                    '<div  class="inline_block">' +
                    '<button class="uploadBtn"  style="position: relative">' +
                    '<span id="innerText">上传图片</span>' +
                    ' <input id="uploadBtn_' + index + '" data-image="' + index +
                    '" class="fileInput" type="file" accept="image/png,image/jpeg,image/gif" name="fileM" id="fileUp_' +
                    index + '">' +
                    '</button> ' +
                    '</div>' +
                    '<div  class="inline_block">' +
                    '<button class="cancelBtn uploadBtn" id="cancelBtn_' + index + '" data-id="' + index +
                    '" style="position: relative">' +
                    '<span id="innerText">使用原图片</span>' +

                    '</button> ' +
                    '</div>' +
                    '<div  class="inline_block">' +
                    '<button class="delBtn uploadBtn" id="delBtn_' + index + '" data-id="' + index +
                    '" style="position: relative">' +
                    '<span id="innerText">删除此项目</span>' +

                    '</button> ' +
                    '</div>'
                '</div>';
                $("#image_forms").append(html)

                //删除图片表单
                function delImageUI(index) {
                    var pageNo = index ;
                    console.log("Image No", pageNo)
                    console.log(images)
                    images.splice(pageNo, 1)
                    $("#image_div_" + pageNo).remove()
                }

                var delBtn = $("#delBtn_" + index)
                delBtn.click(function (e) {
                    var pageNo = $(this).data("id")
                    var image = images[pageNo]
                    if(!image){
                        $.ligerDialog.error("页面错误，请联系技术人员")
                        return ;
                    }
                    if (image.id == 0) {
                        $.ligerDialog.confirm("确认删除此项？", function(r){
                            if(r="yes"){
                                delImageUI(pageNo)
                            }
                        })
                    }else{
                        $.ligerDialog.warning("警告：该操作仅用来初始化页面图片，如仅需更新图片，请选择上传图片操作！是否继续？", function (r) {
                            if (r == "yes") {
                                image["createTime"]= null;
                                console.log(image["createTime"]);
                                $.ajax({
                                    url:basePath + 'image/del',
                                    type: 'POST',
                                    data : image,
                                    success: function (data) {
                                        var code=data.code;
                                        var msg=data.msg;
                                        if (code == '0000') {
                                                
                                            $.ligerDialog.success(msg);
                                            delImageUI(pageNo)

                                        } else if (code == '9999') {
                                            $.ligerDialog.error(msg);
                                        }
                                    }
                                });
                                console.log(r);


                            }
                        })                        
                    }

                })
                delBtn.hide()
                //撤销新图片
                $("#cancelBtn_" + index).click(function (e) {
                    console.log($(this))
                    var imageNo = $(this).data("id")
                    var orgScr = $("#org_" + imageNo).attr("src")
                    $("#img_" + imageNo).attr("src", orgScr)
                    var imageData = images[imageNo]
                    imageData.url = orgScr

                })

                uploadImg("#uploadBtn_" + index)

                var iform = $("#image" + index).ligerForm({
         
                    inputWidth: 200,
                    labelWidth: 80,
                    space: 40,
                    fields: [{
                            display: "",
                            name: "id",
                            type: "hidden"
                        },
                        {
                            display: "",
                            name: "url",
                            type: "hidden"
                        },

                        {
                            display: "图片编号",
                            name: "number",
                            newline: false,
                            type: "text",
                            readonly: true,
                            width: 90
                        },

                        {
                            display: "图片描述",
                            name: "description",
                            newline: false,
                            type: "text",
                            //readonly: true
                        },

                    ]
                });
                //若是已有 设置数据
                if (image.id > 0) {
                    iform.setData(image)
                }
                //listenFile("#fileUpd_"+ index)
            }

            //初始化图片项
            function initImageForm(images) {
                images.forEach(function (element, index) {
                    element = $.extend(element, {oldUrl: element.url})
                    console.log(element, index);
                    buildForm(index, element)
                });
            }

            //验证表单                  
            function validForm() {
                var result = true;
                var log = console.log
                var pageNo = liger.get("form2").getData()
                log(pageNo)
                //console.log(validator.valid())
                images.forEach(function (ele, i) {
                    var form = liger.get("image" + i);
                    var d = form.getData()
                    var isV = form.valid()
                    if (!isV) {
                        result = false
                    }
                    images[i] = $.extend(ele, d, {
                        page: curPage.id
                    })
                    console.log("验证表单", images[i])
                })

                return result

            }
            //提交
            $("#submit").click(function (e) {

                path = "image/publish"

                console.log("form data", liger.get("form2").getData())
                console.log("form 验证结果： " + liger.get("form2").valid());

                if (validForm()) {
                    //let data =form.getData()
                    console.log(images)

                    $.ajax({

                        url: basePath + path,

                        type: "Post",
                        dataType: "json",
                        contentType: 'application/json',
                        data: JSON.stringify(images),
                        dataType: "json",
                        success: function (data) {
                            addOrUpdateRetInfoParent(data);
                        },
                        error: function (e) {
                            $.ligerDialog.error("提交失败");
                        }
                    });

                } else {
                    $.ligerDialog.error("数据不完善！");
                }


            })
            //文件监听
            function listenFile(id) {
                console.log("listenFileEven", id)
                console.log($(id))
                $(id).on("change", function (e) {
                    conselo.log("Log file")
                    console.log($(this))
                    return
                    var form = new FormData()
                    var file = e.target.files[0];
                    var f = $(this)
                    console.log(f)
                    console.log(file)
                    form.append("file", file);
                    $.ajax({
                        url: basePath + "image/save",
                        type: "Post",
                        dataType: "json",

                        processData: false, //用于对data参数进行序列化处理 这里必须false
                        contentType: false, //必须
                        data: form,
                        success: function (res) {
                            $("#upLoadImage").children("#innerText").text("重选图片");
                            previewBtn.show()
                            console.log(res);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                })
            }


            initImageForm(images)

            //上传图片$(":file")
            function uploadImg(idStr) {
                $(idStr).on("change", function (e) {


                    var form = new FormData()
                    var file = e.target.files[0];
                    var f = $(this)
                    console.log(f.data("image"))
                    console.log(file)

                    form.append("file", file);
                    $.ajax({
                        url: basePath + "image/save",
                        type: "Post",
                        dataType: "json",

                        processData: false, //用于对data参数进行序列化处理 这里必须false
                        contentType: false, //必须
                        data: form,
                        success: function (res) {
                            $("#upLoadImage").children("#innerText").text("重选图片");
                            //previewBtn.show()
                            var path = res.msg
                            images[f.data("image")].url = path
                            $("#img_" + f.data("image")).attr('src', path)
                            console.log(res);
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    })
                })
            }


            //预览使用新图片的页面
            var previewBtn = $("#previewPage")
            previewBtn.click(function (e) {
                parent.$.ligerDialog.open({
                    url: "https://www.baidu.com",
                    title: '预览图片',
                    height: window.innerHeight,
                    width: window.innerWidth,
                    buttons: [{
                        text: '取消',
                        onclick: function (item, dialog) {
                            dialog.hide();
                        }
                    }],
                    isResize: true
                });
            })
            //previewBtn.hide()


            //增加图片表单
            var addImgBtn = $("#addImageBtn")
            addImgBtn.click(function (e) {
                var newImage = {
                    id: 0,
                    url: '',
                    number: "",
                    description: "",
                };
                images.push(newImage)
                buildForm(images.length - 1, newImage)

            })
            addImgBtn.hide()



        });
    </script>


</head>

<body style="padding:0px">

    <div id="content">
        <div class="row">

            <form style="flex: 1; display: none" id="form2" class="liger-form">
            </form>
            <button id="addImageBtn" class="uploadBtn" style="position: relative">
                <span id="innerText">增加图片</span>
            </button>
        </div>

        <div id="image_forms">

        </div>


        <div class="centerBtn center_btn">
            <button class="mtop uploadBtn" id="submit">确认发布</button>
            <button class="mtop uploadBtn" id="previewPage">预览</button>
        </div> 
             
    </div>
    <div id="warning" style="display: none; ">
        <p>此页面尚未设置图片数据，请联系技术人员创建</p>
        <form id="formFuck" class="liger-form">
    </div>









</body>

</html>