<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >全部页面图片</title>     
    <f th:include="js_css::copy"></f>
    <!-- <th:block th:text="${msg}" /> 直接出 -->
    

    <style type="text/css">
            body{font-size:13px;margin: 0 auto}
            h1{font-size:20px;font-family:Verdana;}
            h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
            .description{padding-bottom:30px;font-family:Verdana;}
            .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
			td {padding: 5px;}
    </style>

</head>
<body style="padding:0px">

    <script type="text/javascript">
        var  p = parent.globalActionStatus["imageUpdate"] = {
                    modified : false,
                    data: null,
                    tid : ""
                }
        
        function itemclick(item) {
            alert(item.text);
        }

        $(function () {
            window['g'] =
                $("#maingrid").ligerGrid({
                    height: '100%',
                    columns: [
                        { display: '图片ID', name: 'id', align: 'left', width: 100, minWidth: 60 },
                        { display: '页面类型', name: 'page', minWidth: 120 },
                        { display: '编号', name: 'number'},
                        { display: '图片地址', name: 'url', minWidth: 140 },
                    
                        { display: '描述', name: 'description'}
                    ],   pageSize: 10, rownumbers: true,
                    toolbar: {
                        items: [
                            { text: '增加', click: onAdd, icon: 'add' },
                            { line: true },
                            { text: '修改', click: onUpdate, icon: 'modify' },
                            { line: true },
                            { text: '删除', click: onDelItme, img: 'delete' }
                        ]
                    },
                    url: basePath + 'image/data'
                });


            $("#pageloading").hide();
        });
        
        // 新建
        function onAdd(e){
            parent.tab.addTabItem({
                tidid: "addNewPage",
                text: "新建图片",
                url: "image/addUI"
            })
        }

        //更新或新建图片
        function onUpdate(e){
            console.log(e)
            
            

            $.ligerDialog.confirm("确定修改此图片？",function(r){
                if(r){
                    console.log( g.getSelectedRow())
                    p.modified = true 
                    p.data = g.getSelectedRow() 
                    p.tid = "imageUpdate"+ p.data.id 

                    //g.deleteSelectedRow() 
                    //console.log(parent.tab)
                    parent.tab.addTabItem({
                    tabid: p.tid ,
                    text: "修改图片",
                    url: "image/add",
                    callback: function ()
                    {
                        p.modified = false
                    }
                });
                }
            })
        }

        //删除ltth
        function onDelItme(e){

        }

    </script>


    <div class="l-loading" style="display:block" id="pageloading"></div>
    <a class="l-button" style="width:120px;float:left; margin-left:10px; display:none;" onclick="deleteRow()">删除选择的行</a>


    <div class="l-clear"></div>

    <div id="maingrid"></div>

    <div style="display:none;">

    </div>

</body>
</html>

