<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >全部页面图片</title>     
    <f th:include="js_css::copy"></f>
    <!-- <th:block th:text="${msg}" /> 直接出 -->


</head>
<body style="padding:0px">

    <script type="text/javascript">
        var  p = imageUpdate = {
                    modified : false,
                    data: null,
                    tid : ""
                }
        
        function itemclick(item) {
            alert(item.text);
        }

        $(function () {
            window['g'] =
            $("#maingrid").ligerGrid({
                    height: '100%',
                    columns: [
                        { display: '页面ID', name: 'id', minWidth: 50,},
                        { display: '页面名称', name: 'name', minWidth: 120 },
                        { display: '页面编号', name: 'number'},
                        { display: '页面标题', name: 'title', minWidth: 140 },

                    ],   pageSize: 10, rownumbers: true,
                    toolbar: {
                        items: [
                        { text: '设置/更新页面图片', click: onAddDialog, icon: 'add' },
                            { line: true },
                            //{ text: '删除', click: onDelItme, img: 'delete' }
                        ]
                    },
                    url: basePath + 'webpage/data'
                });            



            $("#pageloading").hide();
        });
        
        //在对话框中新创建
        function onAddDialog(e) {
            
            var page = g.getSelectedRow()
            //console.log("SelectPage is: ", page)
            if(page){
                //选中数据通过cookie传递
                $.cookie("image_page",JSON.stringify(page))
                $.ligerDialog.open({
                    url: basePath + "image/addUI/"+page.number,
                    title: '管理 ['+ page.title + "] 图片",
                    height: 380, width: 1200,
                    showMax: true,
                    showToggle: true,
                    showMin: true,
                    isResize: true,
                    buttons: [

                        { 
                            text: '取消', 
                            onclick: function (item, dialog) {
                                dialog.hide(); 
                                } 
                        }
                    ],
                    isResize: true 
                });                
            }else{
                $.ligerDialog.warn("请先选定一个页面")
            }

        }


    </script>


    <div class="l-loading" style="display:block" id="pageloading"></div>
    <a class="l-button" style="width:120px;float:left; margin-left:10px; display:none;" onclick="deleteRow()">删除选择的行</a>


    <div class="l-clear"></div>

    <div id="maingrid"></div>

    <div style="display:none;">

    </div>

</body>
</html>

