<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >隐贝官方</title>  
        <meta name="keywords" contect="隐贝,微笑,护牙,自信">
        <meta name="description" content="隐贝官方，为你提供完美的微笑​">  
        <th:block th:include="js_css::copy" />
        <!-- 主页CSS-->
        <th:block th:include="js_css::home_css" />
        <!-- <th:block th:text="${msg}" /> 直接出 -->
        

        <script type="text/javascript" th:inline="javascript">
            var minWidth = 1140
            var scope 
            var pages 
            var currentPage = 0
            var nav 
            var leftMenu
            var leftMenuList

            var totalPage = 5
            var pageHeight 
            var windSize = 1174
            var next_icon 
            $(function(){
                next_icon = $("#next_icon")
                isPage = true 
                scope = $("#scope");
                pages = $("#pages");
                page  = $(".page") ;
                nav = $("#nav-menu") ;
                leftMenu = $("#left-menu")
                leftMenuList = $("#left-menu-list")

                if(!isPage){
                    next_icon.hide()
                }
                $(".pic").hover(
                    function(e){
                    console.log(".p-img enter")
                    $(this).children().first().hide().next().fadeIn()
                },
                    function(e){
                        console.log("mouse out")
                        $(this).children().last().hide().prev().fadeIn()
                    }
                )
                //右侧目录
                leftMenu.mouseenter(
                    function(e){
                        leftMenuList.fadeIn()
                    }
                )
                leftMenuList.mouseleave(function(e){
                    $(this).fadeOut();
                })
               
                //$dom.on("mousewheel",function(event,delta){})
                pageHeight = window.innerHeight
                console.log("window height:", pageHeight)  


                //处理scroll
                function onwhell (event) {

                    //console.log(event.deltaX, event.deltaY, event.deltaFactor);
                    //console.log($(event.target).height())
                    var Y = event.deltaY
                    var shouldShowNav = true
                    if (animating) {
                        return
                    }
                    if (Y > 0) {
                        if (currentPage == 0) {
                            return
                        } else {
                            currentPage -= 1
                            if (currentPage == 0) {
                                leftMenu.fadeOut()
                            }
                            shouldShowNav = true
                        }
                    } else {
                        if (currentPage < totalPage - 1) {
                            currentPage += 1
                            if (currentPage > 0) {
                                leftMenu.fadeIn()
                            }
                            shouldShowNav = false
                        } else {
                            return
                        }
                    }

                    console.log("current page is:", currentPage)
                    var dis = pageHeight * currentPage
                    //var dis = 50*currentPage

                    animating = true
                    var navTop = shouldShowNav ? 0 : nav.outerHeight()
                    nav.animate({ top: "-" + navTop + "px" })
                    $("#pages").animate({ top: "-" + dis + "px" }, function () {
                        animating = false
                        console.log("finish! current top is", dis)
                    });
                    // pages.css({"transform":"translateX(900px)"})

                    }
                
                // scroll 函数
                function page_scroll(num){
                        currentPage = num
                        animating = true
                        var dis = pageHeight * currentPage
                        $("#pages").animate({ top: "-" + dis + "px" }, function () {
                            animating = false
                            console.log("finish! current top is", dis)
                        });
                }
                 //根据屏幕大小决定是否开启              
                if(window.innerWidth < windSize){
                    isPage = false
                }               
                if (isPage) {

                    page.css({ "height": pageHeight });
                    page.toggleClass("page_scroll")
                    //
                    next_icon.click(function(e){
                        //window.location.reload()
                        
                        console.log("go to next page")
                        page_scroll(1)

                    })
                    
                    scope.mousewheel(onwhell)
                }
                $(window).resize(function(e){

                    if(window.innerWidth <= minWidth){
                        next_icon.hide()
                        totalPage = 1 

                    }else {
                        next_icon.show()
                        totalPage = 5 
                    }
                    if(currentPage == 0){
                        return 
                    }
                    currentPage = 0
                    pages.css({top: "0px"})
                    return 
                    e.preventDefault();
                    var width = $(e.target).innerWidth()
                    console.log("window width:", width)
                    if(width < windSize){
                        $(window).off("resize")
                        console.log("reload page")
                        if(isPage){
                            page.toggleClass("page_scroll")
                            scope.off("mousewheel")

                            
                        }  
                    }else {
                        if(!isPage){
                            scope.mousewheel(onwhell)
                            isPage = true
                        }
                    }
                        //window.location.reload()
                    
                    
                })
                var animating = false 
                


            })
        </script>
    </head>
    <body>
        <th:block th:include="js_css::header" />
        <!--右侧按钮-->
        <div id="left-menu">
            <img src="/m/pic/01sy_rightnav_btn.png">
        </div>
        <!--右侧列表-->
        <div id="left-menu-list"  style="display: none">
            <ul class="common_list right_menu">
                <li class="item flex_v_center">
                    <img src="/m/pic/01sy_rightnav_icon_home.png"/>
                    <span class="justify">主页</span>
                </li>
                <li class="item flex_v_center">
                        <img src="/m/pic/01sy_rightnav_icon_product.png"/>
                        <span class="justify">隐贝成品</span>
                </li>
                <li class="item flex_v_center">
                    <img src="/m/pic/01sy_rightnav_icon_04.png"/>
                    <span class="justify">优秀案例</span>
                </li>
                <li class="item flex_v_center">
                        <img src="/m/pic/01sy_rightnav_icon_05.png"/>
                        <span class="justify">微笑测试</span>
                </li> 
                <li class="item flex_v_center">
                    <img src="/m/pic/01sy_rightnav_icon_06.png"/>
                    <span class="justify">发现医生</span>
                </li>
                <li class="item flex_v_center">
                        <img src="/m/pic/01sy_rightnav_icon_07.png"/>
                        <span class="justify">最新新闻</span>
                </li> 
                <li class="item flex_v_center">
                    <img src="/m/pic/01sy_rightnav_icon_01.png"/>
                    <span class="justify">关于我们</span>
            </li>                                                                   
            </ul>
        </div>
        <div class="full-view" id="scope">
            <div class="full-view-normal" id="pages" style="top:0px">
                <div id="page_home" class="page">
                    <img src="/m/pic/01sy_bg_01.jpg" style="height: 100%"/>
                    <div id="main_logo">
                        <img src="/m/pic/01sy_nav_logo.png" style="margin-bottom: 24px;">
                        <p style="font-size: 28px;
                        color: #00a0ff;">看不见守护 看得到的自信</p>
                        <p style="font-size: 18px;">为你的微笑偷偷加分</p>
                    </div>
                    <div id="next_icon">
                        <img src="/m/pic/next_icon.png"/>

                    </div>
                </div>
                <div id="page_second" class="page flex_v_center d-none d-lg-block">
                    <div class="container-fluid box" style="display: flex;justify-content: center;align-content: center;height: inherit;">
                        <div class="row" style="width: inherit;">
                          <div class="col-6 col-md-6 col-sm-12 over-hide ">
                              <div class="img_box fix-img">
                                <div class="pic img_box">
                                        <img class="p-img fix-img" id="p-1-org" src="/m/pic/p-1.png"/>
                                        <img class="p-hover fix-img" id="p-1-hover" src="/m/pic/p-4.png"/>
                                        
                                </div>
                                <p class="title fix-img">
                                    舌侧矫治器
                                </p>
                                <p class="des fix-img">
                                        多模式系统技术现已应用于时代天使冠军版品，创新性的薄厚膜结合矫治，发挥薄厚膜片各自的优势，矫治过程施力轻柔且持续，让你每天都能轻松地微笑，让每周都见证变美的奇迹
                                </p>                                  
                              </div>


                          </div>
                          <div class="col-6 col-md-6  col-sm-12 over-hide  ">
                              <div class="img_box fix-img">
                                    <div class="pic img_box">
                                        <img class="p-img fix-img" id="p-2-org" src="/m/pic/p-2.png"/>
                                        <img class="p-hover fix-img" id="p-2-hover" src="/m/pic/p-3.png" />
                                    </div>
                                    <h3 class="title fix-img">
                                        隐形牙套矫治器
                                    </h3>
                                    <p class="des fix-img">
                                            多模式系统技术现已应用于时代天使冠军版品，创新性的薄厚膜结合矫治，发挥薄厚膜片各自的优势，矫治过程施力轻柔且持续，让你每天都能轻松地微笑，让每周都见证变美的奇迹
                                    </p>                                  
                              </div>

                          </div>

                        </div>
                      </div>
              </div>     
                <div id="page_case" class="page flex_v_center d-none d-lg-block" >
                    <div class="container-fluid inherite_w_h" style="display: flex">
                        <div class="row  inherite_w_h">
                            <div class="col-7 col-md-8 col-sm-12 inherite_h" style="padding-left: 0px !important;">
                                <div class="inherite_h" style="overflow: hidden;">
                                    <img src="/m/pic/case_left.png" style="height: 100%;" />
                                </div>
                            </div>
                            <div class="col-4 col-md-4 hidden-sm">
                                
                                <div id="case_left " class="flex_row" style="flex-wrap: wrap">
                                    <div class="avatar">
                                        <img class="avatar" src="/m/pic/avatar.jpg">
                                    </div>
                                    <div class="user">
                                        <h3 class="name">MM</h3>
                                        <p class="wa">原来你也在这里</p>
                                        <p class="age">年华: 23</p>
                                        <p class="feature">症状: 中线不齐</p>
                                        <button class="more">查看更多</button>
                                    </div>
                
                                </div>
                                <div id="case_left " class="flex_row " style="flex-wrap: wrap">
                                        <div class="avatar">
                                            <img class="avatar" src="/m/pic/avatar.jpg">
                                        </div>
                                        <div class="user">
                                            <h3 class="name">MM</h3>
                                            <p class="wa">原来你也在这里</p>
                                            <p class="age">年华: 23</p>
                                            <p class="feature">症状: 中线不齐</p>
                                            <button class="more">查看更多</button>
                                        </div>
                    
                                    </div>                               
                            </div>
                        </div>
                
                    </div>
                </div>

            <div id="page_test" class="page d-none d-lg-block ">
                <div class="inherite_w_h" style="display: flex;flex-direction: column;">
                    <div id="test_show" style="
                                                        width: 100%;
                                                        margin: auto;
                                                        display: flex;">
                        <img style="width: inherit; margin: auto;" src="/m/pic/home_test.png" />
                    </div>
                    <div id="tip_wrapper" style="flex-grow: 1;  display: flex; ">
                        <div id="test_tip" class="container" style="flex-grow: 1;display: flex;align-items: center;justify-content: center;">
                            <div class="row">
                                <div class="col-8 col-lg-10 col-md-12" style="    display: flex; justify-items: center;" >
                                    <div class="pr20" >
                                        <img  src="/m/pic/home_smile.png" style="margin: auto" />
                                    </div>
                                    <div class="">
                                        <p class="lg_text_test">你对自己的微笑还满意吗？</p>
                                        <p class="lg_text_test"> 来测试看看你有多少分？</p>
                        
                                    </div>
                                </div>

                                <div class="col-4  col-lg-2 col-md-12 " style="text-align: right;">
                                    <img src="/m/pic/home_go_test.png">
                                </div>
                            </div>
                    
                        </div> 
                    </div>
                   
                </div>

            </div>
            <div id="page_discover" class="page d-none d-lg-block">
                <div id="discover_show" class="container-fluid common_padding">
                    <div class="row" style="flex-wrap: inherit;">
                        <div class="col col-lg-8 d-none d-xl-block">
                            <div class="row doctor_images " style="overflow: hidden">
                                
                                <img src="/m/pic/discover_pic_1.png" />
                                <img src="/m/pic/discover_pic_2.png" />
                                <img src="/m/pic/discover_pic_3.png" />
                                <img src="/m/pic/discover_pic_4.png" />                                
                            </div>

                        </div>
                        <div class=" col-md-auto col-lg-auto  relative ">
                            <div class="show_case_item" id="top_image">
                                    <img src="/m/pic/discover_icon.png"/>
                            </div>
                            <div class="show_case_item text_20px" id="discover_tip">
                                <p>目前为此，</p>
                                <p>我们已有3000家合作机构，</p>
                                <p>加入我们！</p>
                            </div>
                            <div class="show_case_item" id="bottom_image">
                                    <img src="/m/pic/discover_doctor.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--页脚-->
                <th:block th:include="js_css::footer" />
            </div>
        </div>

    </body>
</html>