<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >创建新页面</title>     
    <f th:include="js_css::copy"></f>
    <!-- <th:block th:text="${msg}" /> 直接出 -->
    
    <script type="text/javascript">


        //是修改还是新建
        var isUpdate = false
        var page 
        //var form
        function submitForm(){

            var path = "page/create";
                if(isUpdate){
                    path = "page/update";
                }            
            var form = liger.get("page");
            if(form.valid()){
                let data =form.getData()
                if(isUpdate){
                    $.extend(data,{id: page.id})
                }
                $.post(basePath + path, data, function (data) {
                    addOrUpdateRetInfoParent(data);
                }); 
            }else{
                $.ligerDialog.error("表单验证失败")
            }


        }
        $(function () {
            $.metadata.setType("attr", "validate");
            var v = $("#page").validate({

                errorPlacement: function (lable, element) {
                    if (element.hasClass("l-textarea")) {
                        element.ligerTip({ content: lable.html(), target: element[0] });
                    }
                    else if (element.hasClass("l-text-field")) {
                        element.parent().ligerTip({ content: lable.html(), target: element[0] });
                    }
                    else {
                        lable.appendTo(element.parents("td:first").next("td"));
                    }
                },
                success: function (lable) {
                    lable.ligerHideTip();
                    lable.remove();
                },
                submitHandler: function () {
                    //$("form .l-text,.l-textarea").ligerHideTip();
                    alert("Submitted!")
                }
            });
    
            //$("#forms").append('<form id="page" class="liger-form">')
    
    /*         var form = $("#page").ligerForm({
                inputWidth: 170, labelWidth: 90, space: 40,
                validate:true ,
                fields: [
                    { display: "", name: "id", type:"hidden"},
                    { display: "名称", name: "name", newline: true, type: "text", group: "页面基础信息" },
                    { display: "标题", name: "title", newline: false, type: "text"},
                    { display: "编号", name: "number", newline: false, type: "text",  validate: {
                            required: true,
                            minlength: 5
                        }},
                    { display: "关键词", name: "keyword", newline: true, type: "text", width: 470},
                    { display: "简介", name: "description", newline: true, type: "textarea", width: 470},
               
                ]
            }); */
            var form = $("#page").ligerForm({
                    validate: true
                });
            if(parent.V.updated){
                isUpdate = true
                parent.V.updated = false
                page = parent.V.data
                form.setData(page)
            }
           
            $("#submit").click(function(e){
                var path = "page/create"
                if(isUpdate){
                    path = "page/update"
                }
                let data =form.getData()
                $.post(basePath + path, data, function (data) {
                    addOrUpdateRetInfoParent(data);
                });                    
               
            })
    
        });
        //校验通过
        function valid() {
            var form = liger.get("page");
            return form.valid();
        }   
    
    
    </script>  

<style type="text/css">
    body{padding-left:10px;font-size:13px;}
    h1{font-size:20px;font-family:Verdana;}
    h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
    .description{padding-bottom:30px;font-family:Verdana;}
    .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
    td {padding: 5px;}
</style>
</head>
<body style="padding:0px">
    <div>
        <form  id="page" >
                <table >
                    <tr>

                        <td><label for="phone">页面名称：</label></td>
                        
                        <td><input id="name"  name="name" type="text" class="ui-textbox"  validate="{required:true, minlength:2}"  /></td>

                        <td><label for="phone">页面编号：</label></td>
                        <td><input id="number"  name="number" type="text" class="ui-textbox"  validate="{required:true, minlength:2}"  /></td>
                    </tr>
                    <tr>
                        <td><label for="title">页面标题：</label></td>
                        <td><input id="title"  name="title" type="text" class="ui-textbox"  validate="{required:true}"  /></td>
                        <!-- <td></td>
                        <td></td> -->
                    </tr>
                    <tr>
                        <td><label for="phone">页面关键词：</label></td>
                        <td><input id="keyword"  name="keyword" type="text" class="ui-textbox"  validate="{required:true, minlength:2}"  /></td>
                        <!-- <td></td>
                        <td></td> -->
                    </tr>
                    <tr>
                        <td colspan="4">页面描述：</td>
                    </tr>                  
                    <tr>
                        <td colspan="4">
                            <textarea name="description" rows="" cols=""  id="description"  style="width:400px;height:100px"></textarea>
                        </td>
                    </tr>                            
                  
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2">
                            <input value=" 提交  " type="button" onclick="submitForm()" />
                        </td>
                    </tr>
                </table>
        </form>          
    </div>
            
</body> 

</html>

