<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >全部页面</title>     
    <f th:include="js_css::copy"></f>
    <!-- <th:block th:text="${msg}" /> 直接出 -->
    

    <style type="text/css">
            body{font-size:13px;margin: 0 auto}
            h1{font-size:20px;font-family:Verdana;}
            h4{font-size:16px;margin-top:25px;margin-bottom:10px;}
            .description{padding-bottom:30px;font-family:Verdana;}
            .description h3{color:#CC0000;font-size:16px;margin:0 30px 10px 0px;padding:45px 0 8px;border-bottom:solid 1px #888;}
			td {padding: 5px;}
    </style>

</head>
<body style="padding:0px">

    <script type="text/javascript">

        
        //搜索参数
    	var params = {};
        //更新数据
        var V = {
            updated : false,
            data : null
        }
        var grid 

         //搜索字段
         var searchfields = [ 
                            { display: '页面ID', name: 'id', align: 'left', width: 100,editor : {type : "Integer"}},
                            { display: '页面标题', name: 'title', minWidth: 120 , editor : {type : "String"}},
                            { display: '页面编号', name: 'number', minWidth: 120 , editor : {type : "String"}},
                            { display: '页面关键词', name: 'keyword', minWidth: 120 , editor : {type : "String"}},
                            { display: '页面简介', name: 'description', minWidth: 120 , editor : {type : "String"}},
                            { display: '页面名称', name: 'name' , editor : {type : "String"}},          
   					      
    	                ];
        var da = [{ "createTime": 1564697233000, "description": "23423", "id": 2, "keyword": "w3r", "name": "2", "number": "2324", "title": "ksdf" }, { "createTime": 1564697988000, "description": "23423", "id": 4, "keyword": "w3r", "name": "2", "number": "23sdf24", "title": "ksdf" }, { "createTime": 1564698812000, "description": "23423", "id": 5, "keyword": "w3r", "name": "2", "number": "ksdf", "title": "2324" }, { "createTime": 1564699771000, "description": "好大夫", "id": 6, "keyword": "欧美，艾", "name": "主页", "number": "2.12", "title": "首页" }, { "createTime": 1564700024000, "description": "我的简介", "id": 7, "keyword": "很大关键词", "name": "名称", "number": "小编号", "title": "大标题" }]
        var d =[{
            id: 2342,
            name: "Ang",
            number: "2.0.1",
            title: "Smile",
            keyword: "YOLO",
            description: "I HATE YOU"
        }]
        var dataJson = {
            Rows: d,
            Total: d.length
        }
        //打开新窗口
        function anddOrMod(data){
            var title ="创建新页面"
            if(data){

                title ="修改页面"
                //$.cookie("account_data", JSON.stringify(data))
                V.updated = true
                V.data = data

            }
            $.ligerDialog.open({
        		width: 800,
        		height: 600,
        		title: title,
        		url: basePath+  "webpage/add",
        		showMax: true,
        		showToggle: true,
        		showMin: true,
        		isResize: true
        	});
        }
        $(function () {
            window['g'] =
                $("#maingrid").ligerGrid({
                    height: '100%',
                    columns: [
                        { display: '页面ID', name: 'id', align: 'left', width: 100, minWidth: 60 },
                        { display: '页面名称', name: 'name', minWidth: 120 },
                        { display: '页面编号', name: 'number'},
                        { display: '页面标题', name: 'title', minWidth: 140 },
                        { display: '页面关键词', name: 'keyword' },
                        { display: '页面描述', name: 'description'}
                    ],   pageSize: 10, rownumbers: true,
                    toolbar: {
                        items: [
                            { text: '增加', click: onAdd, icon: 'add' },
                            { line: true },
                            { text: '修改', click: onModifyed, icon: 'modify' },
                            { line: true },
                            { text: '删除', click: onDelItme, img: basePath+'lib/ligerUI/skins/icons/delete.gif' },
                            { line: true },
                            {text : "高级查询",type : "quty",click : search,icon : "search2"}
                        ]
                    },
                    url: basePath + 'webpage/data'
                });

            grid = g

            $("#pageloading").hide();
        });
        
        // 新建
        function onAdd(e){
            anddOrMod(null)
        }
        //修改页面
        function onModifyed(e) {
            var account = grid.getSelectedRow()

            if(account){  
                anddOrMod(account);  
            }else{
                $.ligerDialog.warn("请选择页面")
            }       
        }

        //搜索
        function search(){
        	if (window.winfilter) {
    			window.winfilter.show();
    		} else {
    			var filtercontainer = $("<div id=\"filtercontainer\"></div>").width(500).height(200).hide();
    			window.filter = filtercontainer.ligerFilter({fields : searchfields});
    			window.winfilter = $.ligerDialog.open({
    				width : 540,
    				height : 288,
    				target : filtercontainer,
    				isResize : true,
    				top : 50,
    				buttons : [ {
    					text : "确定",
    					onclick : function(item, dialog) {
    						var group = window.filter.getData();
    						searchData= JSON.stringify(group);
    						gridRefresh();
    						dialog.hide();
    					}
    				},{
    					text : "取消",
    					onclick : function(item, dialog) {
    						dialog.hide();
    					}
    				}]
    			});
    		}
        }
                //刷新列表
        function gridRefresh() {
    		if (grid!=null) {
    			params["searchData"] = searchData;
    			var p = grid.options;
    			p.newPage = 1;
    			grid.loadServerData(params);
    		}
    	}
        //删除账号
        function onDelItme(e){
            var account = grid.getSelectedRow()

            if(account){
                $.ligerDialog.confirm("确定删除该页面？",function(r){
                    if(r){
                    
                    $.post(basePath + "webpage/del",{id: account.id}, function(data){

                        var code = data.code;
                            var msg = data.msg;
                            if (code == '0000') {
                                $.ligerDialog.success(msg);
                                // TODO: 删除账户 
                                grid.deleteSelectedRow();
                                                    
                            
                            } else if (code == '9999') {
                                $.ligerDialog.error(msg);
                            }
                    

                    })


                    }
                }) 
            }else{
                $.ligerDialog.warn("请选择要删除的账号")
            }
            
           

        }

    </script>


    <div class="l-loading" style="display:block" id="pageloading"></div>
    <a class="l-button" style="width:120px;float:left; margin-left:10px; display:none;" onclick="deleteRow()">删除选择的行</a>


    <div class="l-clear"></div>

    <div id="maingrid"></div>

    <div style="display:none;">

    </div>

</body>
</html>

